/* root: Variable para especificar caracteristicas de titulos secundarios*/
:root {
    --color-texto: rgb(194, 73, 118);
    --fuente-titulo: 'Kanit', sans-serif;
    --tamanio-texto: 1.8rem;
    --color-backyotros: rgb(212, 179, 243);
}

/* Selector universal */
* {
    margin: 0;
    padding: 0px;
    background-color: #e3d5ca00;
}

body {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

/* ---- Barra de navegacion ----- */
.my-header {
    background-color: var(--color-backyotros);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    z-index: 100;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-header a {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bolder;
    padding: 0 1rem;
}

.my-header a:hover {
    color: #fff;
}

/* Edicion de la lista */
.lista-desordenada-1 {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.lista-desordenada-1 li {
    display: flex;
    align-items: center;
}

.lista-desordenada-1 li.izq {
    margin-right: 2rem;
}

.lista-desordenada-1 li.der {
    margin-left: 2rem;
}

nav {
    width: 100%;
}

.logo {
    width: 20rem;
    display: block;
}

/* Titulo principal */
.primero {
    margin-top: 120px;
    padding-top: 2.9rem;
    padding-left: 60px;
}

.titulo {
    color: rgb(47, 123, 151);
    font-size: 2.4rem;
    font-family: 'Unbounded', sans-serif;

}

.texto-sec {
    font-family: 'Mitr', sans-serif;
    color: rgba(32, 29, 29, 0.688);
    font-size: 1.9rem;
}

/* -----  Seccion 1 ------ */
#imagen {
    background-image: url(../img/gato-siames.jpg);
    background-size: cover;
    background-position: center;
    height: 60vw;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: normal;
    text-align: center;
    flex-direction: row;
}

.container p {
    color: #e16c6c;
    margin-top: 1.8rem;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3.75rem;
    padding-right: 3.75rem;

}

/* Media Query para imagen y contenido */
@media (max-width: 600px) {
    #imagen {
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container p {
        font-size: 1.2rem;
        padding: 2rem;
    }
}

/* ---- Seccion de formulario ------*/
.titulo1 {
    margin-top: 20px;
    margin-left: 60px;
    color: var(--color-texto);
    font-family: var(--fuente-titulo);
    font-size: var(--tamanio-texto);
}

form {
    width: 85%;
    margin: 20px auto;
}

fieldset {
    border: 2px solid rgb(212, 179, 243);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
}

legend,
.text-t {
    color: rgb(93, 90, 90);
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-divs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

/* mediaqwery para contenedor-divs*/
@media(max-width: 430px) {
    .contenedor-divs {
        display: block;
    }
}

.contenedor-divs input {
    width: 100%;

}

.div-grupos {
    flex: 0 0 calc(50% - 40px);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    align-items: center;
    /* Centrar el contenido del form-input */
    position: relative;
}

/* estilo para los mensajes de error */
.form-input-error {
    font-family: 'calibri';
    font-size: 11px;
    padding-left: 20px;
    text-align: left;
    display: none;
}

/* Cuando se produsca el error se vea el mensaje */
.form-input-error-activo {
    display: block;
}

/* iconos de error */
.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    opacity: 0;
}

.especie {
    font-size: 16px;
    font-family: cursive;
    color: rgb(67, 65, 65);
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 72, 72);
    font-size: 1rem;
    margin-left: 0px;
}

.div-txr {
    display: flex;
    flex-wrap: wrap;

}

.div-txr textarea {
    width: 500px;
    height: 180px;
    border: 2px solid rgb(212, 179, 243);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2rem;
    box-sizing: border-box;
}

/* limites del tamano del textarea */
textarea {
    resize: vertical;
    max-height: 400px;
    min-height: 100px;

}

.text-t {
    margin-left: 2.7rem;

}

input {
    margin-top: 5px;
    padding: 4px 10px;
    box-sizing: content-box;
    border: 2px solid rgb(148, 145, 145);
    border-radius: 5px;

}

input[type="file"] {
    outline: none;
    /* Elimina el recuadro de contorno y */
    border: none;
    /* Elimina cualquier borde adicional si lo hubiera */
}

/* Estilo para el recuadro select */
select {
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid rgb(148, 145, 145);
}

select:focus {
    outline: none;
}

/* Borde que se ve en los recuadros al hacer enfoque */
input:focus {
    outline: none;    /* recordatorio: elimina el borde predeterminado del navegador */
    border: 2px solid rgba(194, 73, 117, 0.705);
    box-shadow: 0 2px 5px rgb(248, 214, 218);
}

textarea:focus {
    outline: none;
}

/* estilo para radio*/
input:checked+label {
    color: #fff;
    font-weight: bolder;
    background-color: var(--color-backyotros);
}

/* color para la casilla del checkbox - espacio */
input[type="checkbox"] {
    accent-color: var(--color-backyotros);
    margin-right: 5px;
}

/* Mensaje de error final */
.mensajeForm .form-input-error {
    font-size: 15px;
}

/* Formulario enviado */
.envio_exito {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 193, 141);
    font-weight: bolder;
    padding-top: 10px;
    display: none;
}

.envio_exito-activo {
    display: block;
}

/* botones submit y reset */
.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.4rem;
    margin-right: 0.4rem;
}

input[type="submit"] {
    margin-bottom: 0;
    background-color: var(--color-backyotros);
    color: #fff;
    font-weight: bold;
    border: none;
}

input[type="reset"] {
    margin-bottom: 0px;
    margin-left: 0.4rem;
    color: rgb(255, 203, 210);
    font-weight: bold;
    border: 2px solid rgb(255, 203, 210);

}

input[type="submit"]:hover {
    border: 2px solid rgb(212, 179, 243);
    box-shadow: 0 2px 5px rgb(231, 214, 248);
    background-color: #fff;
    color: rgb(131, 131, 131);
}

input[type="reset"]:hover {
    border: 2px solid rgb(255, 203, 210);
    box-shadow: 0 2px 5px rgb(248, 214, 218);
    background-color: #fff;
    color: lightcoral;
}

.map-contenedor {
    display: flex;

}

.mapa {
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 50px;
}

.mapa h2 {
    color: rgb(212, 149, 230);
    font-size: 1.5rem;
}

/* ------- Seccion 2 Diapositivas ------ */
.segundo {
    margin-top: 1rem;
    margin-left: 10px;
}

.slidershow-container {
    position: relative;
    width: 1080px;
    height: auto;
    max-width: 100%;
    margin: 15px auto 0;
    overflow: hidden;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.slidershow-container ul {
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 8s infinite normal ease-in-out;
}

.slidershow-container li {
    list-style: none;
    width: 70%;
}

.slidershow-container img {
    width: 70%;
    height: auto;
    margin-left: 15%;
}


.slide {
    position: relative;
}

.overlay {
    position: absolute;
    top: 18%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0);
    /* fondo transparente */
    color: #fff;
    padding: 10px;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    45% {
        margin-left: 0%;
        opacity: 0;
    }

    50% {
        margin-left: -100%;
    }

    95% {
        margin-left: -100%;
        opacity: 1;
    }

}

.overlay p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.overlay h3 {
    color: rgba(14, 95, 183, 0.647);
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}


/*  ------- Seccion 3 - Servicios que brinda la clinica-------  */

.lista-desordenada-2 {
    list-style: none;
}

.consulta-t {
    color: var(--color-texto);
    font-size: var(--tamanio-texto);
    font-family: var(--fuente-titulo);
    padding-left: 50px;
    /* padding-bottom: 30px; */
    padding-bottom: 0.8rem;
}

/* Caja 1 Consulta clinica */
.caja {
    background-color: rgb(212, 179, 243);
    width: 300px;
    height: 100px;
    margin: 10px;
    /* Van a transicionar el alto, fondo y el borde */
    transition-property: height background-color border filter;
    transition-duration: 2s;
    border: 2px solid transparent;
    border-radius: 5px;
    filter: drop-shadow(5px 10px 10px rgb(228, 205, 249));
    position: relative;
    overflow: hidden;
}

.contenedor-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 95%;
    height: auto;
}

.caja:hover {
    height: 250px;
    background-color: #e3d5ca00;
    border: 3px solid rgb(212, 179, 243);
    filter: none;
}

.contenedor-flex>div {
    flex: 1;
    margin: 5px;

}

/* mediaqwery */
@media(max-width: 430px) {
    .contenedor-flex {
        display: block;
    }

    .caja {
        width: 100%;
        /* Hace que las cajas ocupen el 100% del ancho del contenedor */
    }
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: opacity 2s, color 2s, font-size 2s, font-family 2s;
}

.texto-A {
    opacity: 1;
}

.texto-B {
    opacity: 0;
}

.caja:hover .texto-A {
    opacity: 0;
}

.caja:hover .texto-B {
    opacity: 1;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    transition: opacity 2s, color 2s, font-size 2s, font-family 2s;
}

/* ----- Seccion 4 -- Solicitud de estudios complementarios ------- */
.complementarios {
    margin-top: 1.1rem;
} 

p {
    color: rgba(0, 0, 0, 0.67);
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 70px;
}

.enlace {
    color: rgba(24, 5, 5, 0.698);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enlace a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(238, 174, 178);
    font-weight: bold;
}

.enlace a:hover {
    color: rgb(162, 162, 162);
    background-color: rgb(255, 239, 242);
    font-weight: bold;
    border: 2px solid pink;
    border-radius: 20px;
    padding: 1px 4px;
}

/*   ----- Footer ---- */
footer {
    background-color: rgba(68, 159, 173, 0.157);
    width: 100%;
    height: 9.3rem;
    padding-top: 30px;
    text-align: right;
    position: static;
    left: 0;
    bottom: 0;
    line-height: 1.5;
}

.lista-desordenada-3 li {
    display: block;
    list-style: none;
}

.tercero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(49, 70, 90);
}

/* Contenedor hijo 1 */
.redes {
    padding-left: 50px;
    /* Empuja el contenido de las redes sociales hacia la izquierda */
    /* height: 120px; */
    height: 3rem;
    width: 220px;
}

/* espacio entre el titulo redes y los iconos */
.redes h4 {
    /* margin-bottom: 12px; */
    margin-bottom: 1rem;
    font-size: 1.1rem; 
}

/* Contenedor hijo 2 */
.foot {
    text-align: justify;
    /* Alinea el contenido de contacto a la derecha */
    padding-right: 30px;
    padding-left: 30px;
    height: 7.5rem;
    width: 450px;
}

/* estilo del titulo contenedor 2 */
.contacto {
    color: rgba(25, 25, 101, 0.901);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}